* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.topNav {
    height: 45px;
    padding: 0px 50px;
    position: relative;
}
.topRightNav img{
    vertical-align: middle;
    align-self: center;
    padding-right: 15px;
}
.contact {
    float: left;
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border-right: rgb(192, 192, 192) solid 1px;
    color: black;
}

.contact a {
    color: black;
    align-items: center;
    vertical-align: middle;
    padding-right: 6px;
}
.contact a:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
    transition: 0.3s ease-out;
}
.bottomNav {
    height: 70px;
    border-top: rgb(192, 192, 192) solid 1px;
    padding-left: 50px;
    padding-right: 50px;
}

.menu a {
    color: black;
    padding: 10px 20px;
}
.menu a:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
    transition: 0.3s ease-out;
}
.getFreeQuote{
    float: right;
}
.getFreeQuote a {
    position: relative;
    color: black;
    padding: 8px;
    border-left: rgb(192, 192, 192) solid 1px;
    border-right: rgb(192, 192, 192) solid 1px;
}
.getFreeQuote a:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
    transition: 0.3s ease-out;
}
.getFreeQuote img {
    position: relative;
    padding-right: 2px;
}

.leadBanner img {
    width: 100%;
}

.leadBanner {
    max-height: 650px;
    overflow: hidden;
    position: relative;
}

.bottomBanner {
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.bottomBanner img {
    width: 100%;
}

.bottomBannerImage {
    filter: blur(2px);
}

.bannerTitle {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 30%;
    color: #fff;
    font-size: 60px;
    padding-left: 40px;
}

.leadBanner a {
    position: absolute;
    left: 5%;
    top: 70%;
    width: 30%;
    color: #000;
    font-size: 40px;
    padding-left: 40px;
}

.news h1,
.projects h1 {
    color: #000;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}

.news p,
.projects p {
    text-align: center;
    color: black;
    font-size: 12px;
}

.newsSection,
.projectsSection {
    padding: 40px;
}

.newsRow,
.projectsRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.newsBox, .projectBox {
    width: 30%;
    text-align: center;
    padding: 10px;
}

.newsBox {
    border: rgb(192, 192, 192) solid 1px;
}

.newsBox img,
.projectBox img {
    width: 100%;
}

.newsBox>div,
.projectBox>div {
    background: rgba(0, 0, 0, 0.5);
}

.newsBox h3,
.projectBox h3 {
    font-size: 24px;
    margin: 10px 0px;
    font-weight: 100;
}

.gridNav {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.gridNav a {
    color: black;
    align-self: center;
    padding: 10px;
}
.gridNav a:hover{
    color: blue;
    transition: 0.3s ease-out;
}
.bottomBanner {
    align-items: center;
}

.blogPost {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-items: center;
}

.blogPostImg {
    flex: 1;
    padding: 2rem 2rem 2rem 0rem;
}

.blogPostImg>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: translateX(+15px);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.blogPostInfo {
    flex: 5;
    padding: 2rem;
}

.blogPostTitle p {
    color: #000;
}

.bottomBannerItems {
    align-self: center;
    display: inline-flex;
    position: absolute;
    left: 5%;
    top: 0%;
    width: 80%;
    padding-left: 30px;
}
.blogPostDesignation p{
    font-weight: 100;
}
.blogPostName h2{
    font-size: 20px;
}
.footer{
    text-decoration: none;
    background: rgb(39, 39, 39);
    color: white;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.topFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    padding-top: 5rem;
}
.footerHeading{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.footerHeading h1{
    font-size: 24px;
    margin-bottom: 2rem;

}
.footerHeading a{
    margin-bottom: 0.5rem;
}
.footerHeading a:hover{
    color: blue;
    transition: 0.3s ease-out;
}
.newsLetter h1{
    margin-bottom: 1rem;
}
#footerEmail{
    text-align: center;
    width: 300px;
    height: 40px;
    border-radius: 3rem;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
#footerSubmit{
    width: 100px;
    height: 40px;
    border-radius: 3rem;
    color:white;
    background-color: black;
}
#footerSubmit:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s ease-out;
}
.topProducts a, .newsLetter p{
    font-size: 16px;
    padding:2px;
}
.gallery img{
    width: 20%;
}
.bottomFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    padding: 3rem 0rem;
}
